[submodule "modules/mod-playerbots"]
	path = modules/mod-playerbots
	url = https://github.com/wowshub/mod-playerbots.git
	branch = reborn-dcai1a-20261009
	ignore = untracked
[submodule "modules/mod-ale"]
	path = modules/mod-ale
	url = https://github.com/lisancth/beale.git
	ignore = untracked
[submodule "modules/mod-ah-bot-plus"]
	path = modules/mod-ah-bot-plus
	url = https://github.com/wowshub/mod-ah-bot-plus.git
	ignore = untracked
[submodule "modules/mod-dungeon-scale"]
	path = modules/mod-dungeon-scale
	url = https://github.com/NathanHandley/mod-dungeon-scale.git
	ignore = untracked
[submodule "modules/mod-starting-pet"]
	path = modules/mod-starting-pet
	url = https://github.com/lisancth/bestartingpet.git
	ignore = untracked
[submodule "modules/GObject-Editor-Tool"]
	path = modules/GObject-Editor-Tool
	url = https://github.com/norrathreborn/GObject-Editor-Tool.git
