[submodule "modules/mod-playerbots"]
	path = modules/mod-playerbots
	url = https://github.com/mod-playerbots/mod-playerbots.git
[submodule "modules/mod-ale"]
	path = modules/mod-ale
	url = https://github.com/azerothcore/mod-ale.git
[submodule "modules/mod-ah-bot-plus"]
	path = modules/mod-ah-bot-plus
	url = https://github.com/wowshub/mod-ah-bot-plus.git
[submodule "modules/mod-dungeon-scale"]
	path = modules/mod-dungeon-scale
	url = https://github.com/NathanHandley/mod-dungeon-scale.git
[submodule "modules/GObject-Editor-Tool"]
	path = modules/GObject-Editor-Tool
	url = https://github.com/norrathreborn/GObject-Editor-Tool.git
